<%= content_for :ckeditor do %>
    <%= javascript_include_tag '/javascripts/ckeditor/ckeditor.js' %>
    <%= stylesheet_link_tag 'editor' %>
<% end %>

<%= javascript_include_tag 'admin_content.js' %>

<div class="row">
  <ol class="breadcrumb">
    <li><%= link_to("Admin Hub", admin_path) %></li>
    <li class="active">Site Content</li>
  </ol>
</div>


<%= form_tag '/update_settings', class: 'form-horizontal', role: 'form' do |f| %>

    <div class="well">

      <h3>Site Content</h3>

      <div>
        <label>Brand</label>
        <%= text_field_tag 'brand', @settings['brand'], class: 'form-control' %>
      </div>
      <br/>

      <div>
        <br/>
        <span class="btn btn-primary btn-file">Change Logo <%= file_field_tag 'content[logo]', class: 'file file-upload-logo' %></span>
        <% if !@logo_content.new_record? && @logo_content.image %>
            <%= image_tag @logo_content.image, id: 'preview', style: 'max-height: 100px;' %>
        <% end %>
      </div>
      <br/><br/><br/>

      <div>
        <label>Home Content</label>
        <%= text_area_tag 'home_p', @settings['home_p'], class: 'form-control rte' %>
      </div>
      <br/>
      <br/>


      <div>
        <label>About Image</label>
        <br/>
        <span class="btn btn-primary btn-file">Upload Picture <%= file_field_tag 'content[image]', class: 'file file-upload' %></span>
        <% if !@about_content.new_record? && @about_content.image %>
            <%= image_tag @about_content.image, id: 'preview', style: 'max-height: 100px;' %>
        <% end %>
      </div>
      <br/><br/>

      <div>
        <label>About Paragraph</label>
        <%= text_area_tag 'about_p', @settings['about_p'], class: 'form-control rte' %>
      </div>


      <br/><br/>


      <div>
        <label>Send Messages To</label>
        <%= email_field_tag 'message_cc', @settings['message_cc'], class: 'form-control email', type: 'email' %>
      </div>
      <br/><br/>

      <div>
        <label>Contact Paragraph</label>
        <%= text_area_tag 'contact_p', @settings['contact_p'], class: 'form-control rte' %>
      </div>



      <br/>
      <%= submit_tag 'Update Settings', class: 'btn btn-success' %>
    </div>
<% end %>