<%= javascript_include_tag 'map' %>

<div class="row">

  <div class="col-lg-5 col-md-6 col-sm-10">
    <%= form_for message, url: create_message_path, remote: true do |f| %>
    <div class="well">
      <legend>Contact <%= SettingUtility.brand %></legend>
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :name, placeholder: 'Full Name', class: 'form-control', 'data-validation-required-message'=> 'Please enter your name',
                           required: true, maxlength: 255 %>
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :email, placeholder: 'Email', class: 'form-control', 'data-validation-required-message'=> 'Please enter your email',
                           required: true, maxlength: 255 %>
        </div>
      </div>
      <br/>

      <div class="control-group">
        <div class="controls">
          <%= f.text_area :message, rows: '10', cols: '10', class: 'form-control', placeholder: 'Message', required: true,
                          'data-validation-required-message'=>"Please enter your message", maxlength: '9999', style: 'resize:none' %>
        </div>
      </div>

      <div id="success">
        <% if message.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being sent:</h2>

              <ul>
                <% message.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>

      <br/>

      <%#= f.submit content_tag(:span, 'Send', class: 'glyphicon glyphicon-envelope'), class: '', id: 'contact_send_btn' %>
      <button type="submit" class="btn btn-primary btn-success pull-right id=contact_send_btn"><span class="glyphicon glyphicon-envelope"> </span> Send</button>


      <br/>
      <br/>
    </div>
    <% end %>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-2"></div>

  <div class="col-lg-5 col-md-5 col-sm-12">
    <div id="map_canvas" style='width: 750px; height: 650px;'></div>
  </div>

  <div class="col-lg-1 col-md-0 col-sm-0"></div>

</div>


<br/>
<br/>


