<%#= javascript_include_tag 'map' %>
<script src="map.js"></script>

<div id="mapAddress" data-address="<%= address %>"></div>

<div class="row">

  <div class="col-lg-5 col-md-5 col-sm-12">
    <%= form_for message, remote: true do |f| %>

        <div class="well">
          <legend>Contact <%= SettingUtility.brand %></legend>
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :name, placeholder: 'Full Name', class: 'form-control', 'data-validation-required-message'=> 'Please enter your name',
                               required: true, maxlength: 255 %>
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.email_field :email, placeholder: 'Email', class: 'form-control', 'data-validation-required-message'=> 'Please enter your email',
                                required: true, maxlength: 255 %>
            </div>
          </div>
          <br/>

          <p class="antispam">Leave this empty: <%= text_field_tag 'url' %></p>

          <div class="control-group">
            <div class="controls">
              <%= f.text_area :message, rows: '10', cols: '10', class: 'form-control', placeholder: 'Message', required: true,
                              'data-validation-required-message'=>"Please enter your message", maxlength: '9999', style: 'resize:none' %>
            </div>
          </div>

          <div id="success">
            <% if message.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being sent:</h2>

                  <ul>
                    <% message.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
          </div>

          <br/>

          <%#= f.submit content_tag(:span, 'Send', class: 'glyphicon glyphicon-envelope'), class: '', id: 'contact_send_btn' %>
          <div>
            <button type="submit" class="btn btn-primary btn-success pull-right id=contact_send_btn"><span class="glyphicon glyphicon-envelope"> </span> Send</button>
          </div>


          <br/>
          <br/>
        </div>

        <div class="row well">
          <div class="col-xs-12">
            <!--<h4><%#= SettingUtility.setting('about_heading') %></h4>-->
            <%= SettingUtility.setting('contact_p').html_safe %>
          </div>
        </div>
        <br/><br/>


    <% end %>
  </div>


  <div class="col-lg-7 col-md-7 col-sm-12">
    <div id="map_canvas" style='width: 100%; height: 650px;'></div>
  </div>

</div>

<br/>
<br/>


