<%= javascript_include_tag 'products' %>

<div class="well" id="product_form" data-max-height="<%= @settings['max-height'] %>" data-min-height="<%= @settings['min-height'] %>"
     data-max-width="<%= @settings['max-width'] %>" data-min-width="<%= @settings['min-width'] %>" data-url="<%= products_path %>">
    <%= form_for(product) do |f| %>
      <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
          <% product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= hidden_field_tag 'new_record', product.new_record? %>

      <div class="form-group">
        <h4>Name</h4>
        <label class="hidden" for="name">Name</label>
        <%= f.text_area :name, class: 'form-control', maxlength: 255, cols: '40', rows: '1' %>
      </div>

      <div class="form-group">
        <h4>Paypal Ship Code</h4>
        <label class="hidden" for="name">Paypal Ship Code</label>
        <%= f.text_area :paypal_ship_code, class: 'form-control', cols: '40', rows: '3' %>
      </div>

      <div class="form-group">
        <h4>Paypal Pickup Code</h4>
        <label class="hidden" for="name">Paypal Pickup Code</label>
        <%= f.text_area :paypal_pickup_code, class: 'form-control', cols: '40', rows: '3' %>
      </div>

      <div class="form-group">
        <span class="btn btn-primary btn-file">Upload Picture <%= f.file_field :image, class: 'file file-upload' %></span>
        <br/><br/>
        <div class="upload-preview">
          <% if product.new_record? || !product.image %>
              <img id="test" />
          <% else %>
              <%= image_tag product.image, id: 'test' %>
          <% end %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'Submit', class: 'btn btn-success' %>

        <% if product.new_record? %>
            <%= link_to 'Cancel', products_path, class: 'btn btn-default pull-right' %>
        <% else %>
            <%= link_to 'Delete', product_path(product), class: 'btn btn-default  pull-right', method: :delete %>
        <% end %>

      </div>




    <% end %>


</div>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
