<div class="row ">
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th class="hidden-xs">#</th>
        <th class="hidden-xs">Name</th>
        <th class="hidden-xs">Created at</th>
        <th>Thumbnail</th>
        <th></th>
        <th></th>
      </tr>
      <% products.sort_by{|x| x.position}.each do |product| %>
          <tr data-link="<%= edit_product_path(product.id) %>">
            <td class="hidden-xs" position><%= product.position %></td>
            <td class="hidden-xs"><%= product.name %></td>
            <td class="hidden-xs"><%= time_ago_in_words(product.created_at) + ' ago' %></td>
            
            <td><%= image_tag product.image, style: 'max-height: 100px; max-width: 200px;' %></td>
            <td>
              <%= link_to( content_tag(:span,'', class: 'glyphicon glyphicon-arrow-up btn-lg', 'aria-hidden' => true), '#up', class: 'move up', data: {url: product_path(product, move: 'up') }) if product.position != 1 %>
              <%= link_to(content_tag(:span,'', class: 'glyphicon glyphicon-arrow-down btn-lg', 'aria-hidden' => true), '#down', class: 'move down', data: {url: product_path(product, move: 'down') }) if product.position != products.count %>
            </td>
            <td>
              <%= link_to content_tag(:span,'', class: 'glyphicon glyphicon-remove btn-lg', 'aria-hidden' => true),
                          '#', class: 'remove', data: { url: product_path(product), name: product.name } %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
