<h1>Listing sites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Base url</th>
    <th>Subdomain</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>Address3</th>
    <th>Owner</th>
    <th>Company</th>
    <th>Copyright</th>
    <th>Template</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.name %></td>
    <td><%= site.base_url %></td>
    <td><%= site.subdomain %></td>
    <td><%= site.phone %></td>
    <td><%= site.email %></td>
    <td><%= site.address1 %></td>
    <td><%= site.address2 %></td>
    <td><%= site.address3 %></td>
    <td><%= site.owner %></td>
    <td><%= site.company %></td>
    <td><%= site.copyright %></td>
    <td><%= site.template_id %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
